.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
background-image: linear-gradient( 110.2deg,  rgba(111,71,133,1) 3.6%, rgba(232,129,166,1) 50.3%, rgba(237,237,183,1) 97.4% );
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #fabea7;
}

p {
  font-size: 2rem;
  color: #ffe8df;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}


.btn {
 position:relative;
 top: 30px;
left: 60px;
width:123.16px * 45px;
 background: #f4f7c5;
 background-image: -webkit-linear-gradient(top, #f4f7c5, #aacdbe);
 background-image: -moz-linear-gradient(top, #f4f7c5, #aacdbe);
 background-image: -ms-linear-gradient(top, #f4f7c5, #aacdbe);
 background-image: -o-linear-gradient(top, #f4f7c5, #aacdbe);
 background-image: linear-gradient(to bottom, #f4f7c5, #aacdbe);
 -webkit-border-radius: 32;
 -moz-border-radius: 32;
 border-radius: 32px;
 font-family:'Indie Flower', cursive; ;
 color: #8a8a62;
 font-size: 22px;
 padding: 10px 50px 10px 50px;
 text-decoration: none;
}

.btn:hover {
  background: #fbc687;
  background-image: -webkit-linear-gradient(top, #fbc687, #ea907a);
  background-image: -moz-linear-gradient(top, #fbc687, #ea907a);
  background-image: -ms-linear-gradient(top, #fbc687, #ea907a);
  background-image: -o-linear-gradient(top, #fbc687, #ea907a);
  background-image: linear-gradient(to bottom, #fbc687, #ea907a);
  text-decoration: none;
}

.btn2 {
  top:100px;
  right: 90px;
  left:auto;
  padding: 10px 40px 10px 40px;

}


footer {
  margin-top: 10%;
  color: #ffe8df;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
